#-------------INVENTORY SERVICE------------------------

MONGO_INITDB_DATABASE=inventory_service

MONGO_INITDB_ROOT_USERNAME=inventory_service_user

MONGO_INITDB_ROOT_PASSWORD=mongomeng260825

MONGO_AUTH_DB=admin

MONGO_PORT=27017

MONGO_URI=mongodb://inventory_service_user:mongomeng260825@localhost:27017/inventory_service?authSource=admin


#---------------ORDER SERVICE-----------------------------
POSTGRES_DB=order_service
POSTGRES_USER=order_service_user
POSTGRES_PASSWORD=postgresmeng260825
POSTGRES_PORT=5431

DB_URI=postgres://order_service_user:postgresmeng260825@localhost:5431/postgres
MIGRATIONS_DIR=migrations
